<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>COMIDAS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/styles.css" rel="stylesheet" type="text/css"/>
        <link href="css/menu.css" rel="stylesheet" type="text/css"/>
    </head>

    <body>

        <header class="header">
            <nav class="nav">
                <a href="index.html" class="nav-link logo">COMIDAS</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="index.html">Inicio</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="Review.html">Reseñas</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="Restaurants.html">Restaurantes</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="Recommendations.html">Recomendaciones</a></li>
                </ul>
            </nav>
        </header>

        <section id="contenido">
            <br><br><br>
            <table border="1">
            <tr>
                <th>Titulo</th>
                <th>Autor</th>
                <th>Review</th>
                <th>Date</th>
                
            </tr>
            <tr th:each="item : ${postsDB}">
                <td th:text="${item.titulo}"></td>
                <td th:text="${item.autor}"></td>
                <td th:text="${item.review}"></td>
                <td th:text="${item.postDate}"></td>
            </tr>
        </table>
        </section>
        
        <footer id="pieDePagina">
            Derechos reservados DreamTeam &reg; 2022
        </footer>
    </body>
</html>